*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  max-width: 100vw;
}
body{
  width: 100%;
  min-height: 100vh;
}

nav{
  width: 100%;
  max-height: 80px;
  display: flex;
  align-items: center;
  gap: 35px;
  padding: 0px 20px;
  overflow: hidden;
}
img{
  scale: 1.5;
}

li{

  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;

}

.NavLink{
  background-color: rgb(8, 8, 86);
  color: white;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 40px;
  border-radius: 10px;
}

.Home{
  width: 100%;
  min-height: auto;
}

.logo-cont{
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.logo-cont-sub-cnt{
  width: 90%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

.auth-button{
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  padding: 8px 30px;
  border: none;
  border-radius: 8px;
  background-color: rgb(8, 8, 134);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  transition: all 0.3s;
  background-color: rgb(1, 1, 77);
  scale: 1.1;
}


.Explore{
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 5px;
}
.search-cnt{
  width: 100%;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

}
.search-btn{
  width: 300px;
  height: 40px;
  border: none;
  box-shadow: none;
  border-radius: 18px;
  padding: 10px;
  font-family: sans-serif;
  outline: none;
  font-size: 1.05rem;
  background-color: rgb(223, 240, 255);
}
.suggestion-cnt{
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}
.course-card{
  width: 280px;
  min-height: 300px;
  background-color: rgb(5, 5, 76);
  color: white;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  overflow: hidden;
}